@import "../../styles/breakpoints.scss" ;

.show {
    display: flex;
    gap: 50px;
    @include lg {
        flex-direction: column;
    }

    .view {
        flex: 1;
        max-width: 100%;
        .header {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            flex: 1;
            @include lg {
                align-items: center;
                gap: 5px;
            }
            h1 {
                @include lg {
                    font-size: 24px;
                }
            }
            img {
                border-radius: 20%;
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
            button {
                padding: 10px 15px;
                border-radius: 6px;
                border: none;
                cursor: pointer;
            }
        }

        .deatails {
            margin: 20px 0;
            .item {
                display: flex;
                gap: 10px;
                margin-bottom: 20px;
                .label {
                    font-weight: bold;
                    text-transform: capitalize;
                }
                .value {
                    font-style: 14px;
                }
            }
        }

        hr {
            width: 90%;
            margin: 20px auto;
            border: 0.5px solid gray;
        }

        .chart {
            height: 400px;
            width: 100%;
            @include md {
                display: none;
            }
        }

    }

    .timeline {
        flex: 1;
        h2 {
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            position: relative;

            li {
                position: relative;
                background-color: #36374A;
                padding: 20px;
                margin-bottom: 20px;

                p {
                    margin-bottom: 10px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%);
                    left: 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #F45B69;
                }
            }

            &::before {
                content: '';
                position: absolute;
                z-index: 2;
                top: 0;
                left: -1px;
                height: 100%;
                width: 3px;
                background-color: #F45B69;
            }
        }
    }
}