@import "../../styles/variables.scss" ;

.BarChartBox {
    width: 100%;
    height: 100%;

    h1 {
        color: $main-color;
        font-size: 22px;
        margin-bottom: 10px;
    }
    
    .BarChart {
        width: 100%;
    }
}