@import "../../styles/variables.scss" ; 
@import "../../styles/mixing.scss" ; 
@import "../../styles/breakpoints.scss" ; 

.navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: bold;
        color: $main-color;
        padding: 10px;
    }
    .user {
        padding: 0 10px;
        display: flex;
        gap: 30px;
        .icons {
            display: flex;
            align-items: center;
            gap: 20px;
            @include md {
                & > img {
                    display: none;   
                }
            }
            .bell {
                display: flex !important;
                position: relative;
                span {
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    font-size: 12px;
                    color: $main-color ;
                    background-color: red;
                    @include center-flex
                }
            }
        }
        .profile {
            display: flex;
            align-items: center;
            gap: 15px;
            color: $main-color;
            .image {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}